name: Build and test

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v5
        with:
          # Need to clone everything for the git tags.
          fetch-depth: 0

      - name: Set up PostgreSQL
        uses: Harmon758/postgresql-action@v1.0.0
        with:
          postgresql version: "16"

      - name: Set up MySQL
        uses: shogo82148/actions-setup-mysql@v1
        with:
          distribution: "mariadb"
          mysql-version: "10.6"
          user: rubin
          password: rubin

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install prereqs for setuptools
        run: pip install wheel

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip uv
          uv pip install --system -r requirements.txt

      - name: Install database drivers
        run: uv pip install --system psycopg2 pymysql

      - name: Install testing.postgresql
        run: uv pip install --system testing.postgresql

      # We have two cores so we can speed up the testing with xdist
      - name: Install pytest packages
        run: uv pip install --system pytest pytest-xdist pytest-cov

      - name: List installed packages
        run: uv pip list

      - name: Build and install
        run: uv pip install --system --no-deps -e .

      - name: Run tests
        run: |
          export _FELIS_MYSQL_ENGINE_URL="mysql+pymysql://rubin:rubin@127.0.0.1:3306/"
          pytest -r a -v -n 3 --cov=tests --cov=felis --cov-report=xml --cov-report=term --cov-branch \
            --junitxml=junit.xml -o junit_family=legacy
          felis --help

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  pypi:
    runs-on: ubuntu-latest
    needs: [build_and_test]
    permissions:
      id-token: write
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v5
        with:
          # Need to clone everything to embed the version.
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel build

      - name: Build and create distribution
        run: python -m build --skip-dependency-check

      - name: Upload
        uses: pypa/gh-action-pypi-publish@release/v1
