name: Build and test

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    services:
      mysql:
        image: mariadb:10.6.8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_USER: rubin
          MYSQL_PASSWORD: rubin
        ports:
          - 3306:3306
        options: >-
          --health-cmd "mysqladmin ping --silent"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v6
        with:
          # Need to clone everything for the git tags.
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install prereqs for setuptools
        run: pip install wheel

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip uv
          uv pip install --system -r requirements.txt

      - name: Install database drivers
        run: uv pip install --system psycopg2 pymysql testing.postgresql

      # We have two cores so we can speed up the testing with xdist
      - name: Install pytest packages
        run: uv pip install --system pytest pytest-xdist pytest-cov

      - name: List installed packages
        run: uv pip list

      - name: Build and install
        run: uv pip install --system --no-deps -e .

      - name: Check command-line help
        run: felis --help

      - name: Grant privileges to MySQL user
        run: >-
          mysql -h 127.0.0.1 -P 3306 -u root -proot \
            -e "GRANT ALL PRIVILEGES ON *.* TO 'rubin'@'%' WITH GRANT OPTION; FLUSH PRIVILEGES;" \
            > /dev/null 2>&1

      - name: Run tests
        run: |
          export _FELIS_MYSQL_ENGINE_URL="mysql+pymysql://rubin:rubin@127.0.0.1:3306/"
          pytest -r a -v -n 3 --cov=felis --cov-report=xml --cov-report=term --cov-branch \
            --junitxml=junit.xml -o junit_family=legacy

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  pypi:
    runs-on: ubuntu-latest
    needs: [build_and_test]
    permissions:
      id-token: write
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v6
        with:
          # Need to clone everything to embed the version.
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel build

      - name: Build and create distribution
        run: python -m build --skip-dependency-check

      - name: Upload
        uses: pypa/gh-action-pypi-publish@release/v1
